{% extends "layout.html" %}


{% block content %}
    <div class="d-flex flex-wrap justify-content-between">
        {% for item in items %}
            <div class="card m-3">
                <div class="card-header">
                    {{ item.teacher.subject_name }}
                </div>
                <div class="card-body c-white" style="background-color: {{ item.color }}">
                    <table class="table table-striped table-bordered text-white">
                        <thead>
                        <tr>
                            <th>Teacher</th>
                            <th>Class</th>
                            <th>Start</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ item.teacher }}</td>
                            <td>{{ item.class_name }}</td>
                            <td>{{ item.datetime }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" href="{% url 'schedule:lesson' item.id %}">
                        Open
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}