.bg-panel {
    background-color: #DAD7D7;
}

.c-white {
    color:white;
}

.footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
}

body {
    min-height: 100%;
    background-color: #F7F7F7;
}